.About-us-container {
  margin: 8rem auto;
  width: 70%;
  height: 50rem;
  background: rgba(232, 236, 241, 0.9);
  padding: 2% 10%;
  border: none;
  border-radius: 1.6rem;
}
.About-us-container h1 {
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}
