.faq {
  text-align: right;
  width: 60vw;
  height: 30rem;
  padding: 1rem 3vw;
  background-color: rgb(160, 0, 11);
  margin: 10rem auto;
}

.faq > h1 {
  text-align: center;
  color: yellow;
  margin-bottom: 2rem;
  font-size: 5rem;
  letter-spacing: 2rem;
}

.faq-textbox {
  overflow: auto;
  width: 100%;
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.719);
}

.accordion-item {
  padding: 0 5%;
}

.icon-down {
  display: none;
}

#accordion section a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(218, 218, 0);
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}

.answer {
  color: rgb(167, 167, 1);
  margin-bottom: 1rem;
  max-height: 0;
  overflow: hidden;
  position: relative;
  padding-left: 1rem;
  transition: all 0.5s;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 90%;
  background-color: yellow;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion-item:target .answer {
  max-height: 10rem;
}

.accordion-item:target .icon-down {
  display: inline-block;
}

.accordion-item:target .icon-right {
  display: none;
}
